<div class="jumbotron">
  <h1 class="display-3">Hezekiah's 15th!</h1>
  <p class="lead">
    That's right! It's my 15th Birthday! I've become pretty good at website developing, so I thought I'd surprise you with this beautiful website.
    <br />
    If your wondering why I just made a website to tell you that it's my birthday. Well your at the right place cause what's a birthday without a party!
  </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-outline-primary btn-lg" href="/about-me" role="button">About Me</a>
    <a class="btn btn-outline-primary btn-lg" href="/information" role="button">The Party's Here</a>
  </p>
</div>