<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="litera.css"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img src="20190502_083509_1.jpg" width="30px:" height="30px;" class="rounded-circle">
      <a class="navbar-brand" href="">Hezekiah's 15th</a>
      <button class="navbar-toggler collapses" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/information">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-me">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
      <h1 class="display-3">Hezekiah's 15th!</h1>
      <p class="lead">
        That's right! It's my 15th Birthday! I've become pretty good at website developing, so I thought I'd surprise you with this beautiful website.
        <br />
        If your wondering why I just made a website to tell you that it's my birthday. Well your at the right place cause what's a birthday without a party!
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-outline-primary btn-lg" href="/about-me" role="button">About Me</a>
        <a class="btn btn-outline-primary btn-lg" href="/information" role="button">The Party's Here</a>
      </p> 

      <hr class="my-4">

      <blockquote class="blockquote text-center">
        <p class="mb-0">No one can serve two masters, for either he will hate the one and love the other, or he will be devoted to the one and despise the other. You cannot serve God and money.</p>
        <footer class="blockquote-footer">Matthew 6:24</footer>
      </blockquote>

      <hr class="my-4">

      <blockquote class="blockquote text-center">
        <p class="mb-0">Do not fear, for I have redeemed you; I have called you by name, you are mine. When you pass through the waters, I will be with you; and through the rivers, they shall not overwhelm you; when you walk through fire you shall not be burned, and the flame shall not consume you. For I am the Lord you God, the Holy One of Israel, your Savior.</p>
        <footer class="blockquote-footer">Isaiah 43:1-3</footer>
      </blockquote>
    </div>

    <!--<div class="card mb-3" style="width: 30%; float: right;">
      <h3 class="card-header"><strong>About Me</strong> (Simplified)</h3>
      <div class="card-body">
        <h5 class="card-subtitle lead">I've always loved living on a farm!</h5>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="20190502_083509.jpg" alt="Supposed to be my picture here">
      <div class="card-body">
        <p class="card-text">
          I've been in 4H for as long as I can remember (8 years now), living on my families small farm in Myakka City.
          <br />
          Showing cattle is my passion! Especially when you can make some money while your at it too.
          <br />
          I've been raising so many animals over the years. I just love it!
        </p>
      </div>
      <div class="card-body">
        <a href="/information" class="card-link">Party's Here!</a>
        <a href="/about-me" class="card-link">About Me</a>
      </div>-->
    </div>
  </body>
</html>