<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/557949103217311744/578777602999844895/litera.css">
        <title>Hezekiah's 15th</title>
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>

      <body>
        <div class="container jumbotron">
            <form method="POST">
                <h4>Setting the database</h4>
                <hr>
                <h5>Key</h5>
                <input type="text" class="form-control" placeholder="key" name="key">
                <hr>
                <h5>Name</h5>
                <input type="text" class="form-control" placeholder="name" name="name">
                <hr>
                <h5>Age</h5>
                <input type="text" class="form-control" placeholder="age" name="age">
                <hr>
                <button type="submit" class="btn btn-outline-primary btn-lg">Set <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </form>
        </div>

        <div class="container jumbotron">
            <h4>A list of available keys:</h4>
            <hr>
            <% users.keyArray().sort().forEach(key => { %>
                <li><%= key %></li>
            <% }) %>
        </div>
      </body>
</html>