<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/557949103217311744/578777602999844895/litera.css">
    <title>Hezekiah's 15th</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Hezekiah's 15th</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/information">Party Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/information/about-me">About Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Our Main Body -->
    <div class="container">
      <h2>
      <br/>
      <div class="jumbotron" style="background-color: #4582EC; color: white;">
        <h1 class="display-3">Hezekiah's 15th!</h1>
        <h3>
            I'd like to invite you to my birthday party. Here's all the information on my party!
        </h3>
        <h4>
          We're going to have Gaga Ball, Volleyball, Pool Fun, & much more!
        </h4>
        <hr class="my-4">
        <ul class="list-group" style="color: black;">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Date:</strong> Sat. June 8, 2019
              <span class="badge badge-primary badge-pill"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Time:</strong> 11:30am-4:00pm
              <span class="badge badge-primary badge-pill"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>What to bring:</strong> Swim wear, extra clothes, etc. If your going swimming, I'd suggest some goggles!
            <span class="badge badge-primary badge-pill"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>RSVP:</strong> Mon. June 3rd, 2019 | 941-812-1240
            <span class="badge badge-primary badge-pill"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Address</strong> Hendry Family Farm <br/>941-812-1240 <br/>5002 257th St E <br/>Myakka City, Fl 34251
            <span class="badge badge-primary badge-pill"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          </li>
      </ul>
      </div>
      
      <div class="jumbotron">
      <footer class="footer">
        <p>Made by Hezekiah Hendry | <a href="#top">Back to Top</a></p>
      </footer>
      </div>

  </body>
</html>